@media screen and (min-width: 0px) and (max-width: 768px) {
  #nav-bar {
    margin: 0;
    padding: 0;

    display: none;

    background-color: #040404;
  }

  #nav-bar ul {
    margin: 0;
    padding: 0;

    list-style-type: none;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  #nav-bar ul li {
    margin: 5vh 0;
  }

  #nav-bar a {
    color: #ffd18d;

    font-size: 36px;
    text-decoration: none;
    font-weight: 700;
  }
}

@media screen and (min-width: 768px) {
  #nav-bar {
    display: block;
  }
}
