#galeria-section {
  background-color: #bf9d69;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#galeria-section img:first-child {
  padding: 7vh 0 0 0;
}

#galeria-section img {
  padding: 5vh 0 0 0;

  width: 65vw;
  height: auto;
}

#galeria-section img:last-child {
  padding: 5vh 0 7vh 0;
}
